/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'portfolio';
@reset      : 'portfolio';

/* Elements */
@button     : 'portfolio';
@container  : 'portfolio';
@divider    : 'portfolio';
@flag       : 'portfolio';
@header     : 'portfolio';
@icon       : 'portfolio';
@image      : 'portfolio';
@input      : 'portfolio';
@label      : 'portfolio';
@list       : 'portfolio';
@loader     : 'portfolio';
@rail       : 'portfolio';
@reveal     : 'portfolio';
@segment    : 'portfolio';
@step       : 'portfolio';

/* Collections */
@breadcrumb : 'portfolio';
@form       : 'portfolio';
@grid       : 'portfolio';
@menu       : 'portfolio';
@message    : 'portfolio';
@table      : 'portfolio';

/* Modules */
@accordion  : 'portfolio';
@checkbox   : 'portfolio';
@dimmer     : 'portfolio';
@dropdown   : 'portfolio';
@embed      : 'portfolio';
@modal      : 'portfolio';
@nag        : 'portfolio';
@popup      : 'portfolio';
@progress   : 'portfolio';
@rating     : 'portfolio';
@search     : 'portfolio';
@shape      : 'portfolio';
@sidebar    : 'portfolio';
@sticky     : 'portfolio';
@tab        : 'portfolio';
@transition : 'portfolio';

/* Views */
@ad         : 'portfolio';
@card       : 'portfolio';
@comment    : 'portfolio';
@feed       : 'portfolio';
@item       : 'portfolio';
@statistic  : 'portfolio';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : '../../src/semantic/themes';    // relative to semantic-ui/src the one in the node_modules

/* Path to site override folder */
@siteFolder   : '../../src/semantic/site';      // relative to semantic-ui/src the one in the node_modules

/*******************************
         Import Theme
*******************************/

@import '~semantic-ui-less/theme.less';

/* End Config */